<!DOCTYPE html>
<html>
  <head>
    <title>RideShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<h1>RideShare</h1>
  <nav>
    <ul>
      <li><%= link_to "View All Passengers", passengers_path %></li>
      <li><%= link_to "View All Drivers", drivers_path %></li>
      <li><%= link_to "Create New Passenger", new_passenger_path%></li>
      <li><%= link_to "Create New Driver", new_driver_path%></li>
    </ul>
  </nav>


  <main>
    <%= yield %>
  </main>
</body>
</html>
